## Acquire Zillow data and prepare Zillow data for clustering exercises

In [1]:
#imports
import numpy as np
import pandas as pd
import os
from env import get_db_url

### Acquire and Summarize

In [2]:
def acquire_zillow():
    '''
    This function checks for a copy of the dataset in the local directory 
    and pulls a new copy and saves it if there is not one,
    it then cleans the data by removing significant outliers then
    removing the rows with null values for 'yearbuilt'
    '''
    #assign the file name
    filename = 'zillow_clustering.csv'
    #check if the file exists in the current directory and read it if it is
    if os.path.exists(filename):
        print('Reading from csv file...')
        #read the local .csv into the notebook
        df = pd.read_csv(filename)
        return df
    #assign the sql query to a variable for use in pulling a new copy of the dataset from the database
    query = '''
    SELECT 
    prop_2017.*,
    log.logerror,
    log.transactiondate,
    airconditioningtype.airconditioningdesc,
    architecturalstyletype.architecturalstyledesc,
    buildingclasstype.buildingclassdesc,
    heatingorsystemtype.heatingorsystemdesc,
    propertylandusetype.propertylandusedesc,
    storytype.storydesc,
    typeconstructiontype.typeconstructiondesc
    FROM properties_2017 AS prop_2017
    JOIN (SELECT parcelid, MAX(transactiondate) AS max FROM predictions_2017 GROUP BY parcelid) AS pred_2017 USING(parcelid)
    LEFT JOIN (SELECT * FROM predictions_2017) AS log ON log.parcelid = pred_2017.parcelid AND log.transactiondate = pred_2017.max
    LEFT JOIN airconditioningtype USING(airconditioningtypeid) 
    LEFT JOIN architecturalstyletype USING(architecturalstyletypeid) 
    LEFT JOIN buildingclasstype USING(buildingclasstypeid) 
    LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid) 
    LEFT JOIN propertylandusetype USING(propertylandusetypeid) 
    LEFT JOIN storytype USING(storytypeid)
    LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
    WHERE prop_2017.latitude IS NOT NULL;
    '''
    #if needed pull a fresh copy of the dataset from the database
    print('Getting a fresh copy from SQL database...')
    df = pd.read_sql(query, get_db_url('zillow'))
    #save a copy of the dataset to the local directory as a .csv file
    df.to_csv(filename, index=False)
    return df

In [4]:
df = acquire_zillow()
df.head()

Getting a fresh copy from SQL database...

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [5]:
df.shape

(77381, 68)

In [ ]:
df.columns

In [6]:
df.parcelid.value_counts()

14297519    1
12938199    1
11292200    1
11770136    1
17193656    1
           ..
17220161    1
12182567    1
11349008    1
12096766    1
13101116    1
Name: parcelid, Length: 77381, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77381 non-null  int64
 1   parcelid                      77381 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77381 non-null  float64
 6   bedroomcnt                    77381 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49672 non-null  float64
 9   calculatedbathnbr             76772 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77185 non-null  float64
 13  finishedsquarefeet12          73749 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77381 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76772 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49440 non-null  float64
 25  latitude                      77381 non-null  float64
 26  longitude                     77381 non-null  float64
 27  lotsizesquarefeet             69142 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77381 non-null  object
 34  propertylandusetypeid         77381 non-null  float64
 35  propertyzoningdesc            50331 non-null  object
 36  rawcensustractandblock        77381 non-null  float64
 37  regionidcity                  75910 non-null  float64
 38  regionidcounty                77381 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77331 non-null  float64
 41  roomcnt                       77381 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  logerror                      77381 non-null  float64
 60  transactiondate               77381 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49440 non-null  object
 65  propertylandusedesc           77381 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB

In [8]:
df.describe(include='all')

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
count,7.738100e+04,7.738100e+04,24953.000000,206.000000,50.000000,77381.000000,77381.000000,15.000000,49672.000000,76772.000000,...,7.713700e+04,77381.000000,77381,24953,206,15,49440,77381,50,222
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,265,5,5,2,10,13,1,4
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2017-06-30,Central,Contemporary,Buildings having wood or wood and steel frames,Central,Single Family Residential,Basement,Frame
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1189,23133,172,14,33550,52320,50,219
mean,1.495139e+06,1.300715e+07,1.813289,7.388350,679.720000,2.299130,3.053489,3.933333,6.534587,2.316867,...,6.049673e+13,0.016625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8.609071e+05,3.481346e+06,2.967894,2.734542,689.703546,0.996651,1.139096,0.258199,1.721953,0.979755,...,1.535242e+12,0.170191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.490000e+02,1.071186e+07,1.000000,2.000000,38.000000,0.000000,0.000000,3.000000,1.000000,1.000000,...,6.037101e+13,-4.655420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.520700e+05,1.153830e+07,1.000000,7.000000,273.000000,2.000000,2.000000,4.000000,6.000000,2.000000,...,6.037311e+13,-0.024377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.497932e+06,1.253157e+07,1.000000,7.000000,515.000000,2.000000,3.000000,4.000000,6.000000,2.000000,...,6.037603e+13,0.006627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.240535e+06,1.421183e+07,1.000000,7.000000,796.500000,3.000000,4.000000,4.000000,8.000000,3.000000,...,6.059042e+13,0.039203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.982274e+06,1.676893e+08,13.000000,21.000000,3560.000000,18.000000,16.000000,4.000000,12.000000,18.000000,...,4.830301e+14,5.262999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pd.DataFrame({'count' : df.isna().sum(), 'percent' : df.isna().mean()})

                          count   percent
id                            0  0.000000
parcelid                      0  0.000000
airconditioningtypeid     52428  0.677531
architecturalstyletypeid  77175  0.997338
basementsqft              77331  0.999354
...                         ...       ...
buildingclassdesc         77366  0.999806
heatingorsystemdesc       27941  0.361083
propertylandusedesc           0  0.000000
storydesc                 77331  0.999354
typeconstructiondesc      77159  0.997131

[68 rows x 2 columns]

In [10]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [ ]:
pd.concat([
    df.isna().sum(axis=1).rename('num_cols_missing'),
    df.isna().mean(axis=1).rename('percent_cols_missing'),
], axis=1).value_counts().to_frame(name='num_cols').sort_index()

In [ ]:
pd.DataFrame(pd.concat([
    df.isna().sum(axis=1).rename('num_cols_missing'),
    df.isna().mean(axis=1).rename('pct_cols_missing'),
], axis=1).value_counts().to_frame(name='num_cols').sort_index().reset_index())

In [ ]:
pd.concat([
    df.isna().sum(axis=1).rename('num_cols_missing'),
    df.isna().mean(axis=1).rename('pct_cols_missing'),
], axis=1).value_counts().to_frame(name='num_cols').sort_index().reset_index()

In [11]:
def missing_row_values(df):
    rows_df = pd.concat([
    df.isna().sum(axis=1).rename('num_cols_missing'),
    df.isna().mean(axis=1).rename('pct_cols_missing'),
    ], axis=1).value_counts().to_frame(name='num_cols').sort_index().reset_index()
    return rows_df

In [12]:
missing_rows = missing_row_values(df)
missing_rows

    num_cols_missing  pct_cols_missing  num_cols
0                 23          0.338235         2
1                 24          0.352941        13
2                 25          0.367647        24
3                 26          0.382353        65
4                 27          0.397059       316
5                 28          0.411765       455
6                 29          0.426471      5270
7                 30          0.441176      3455
8                 31          0.455882      9891
9                 32          0.470588     12579
10                33          0.485294     14782
11                34          0.500000     13327
12                35          0.514706      5148
13                36          0.529412      5775
14                37          0.544118      3620
15                38          0.558824      1925
16                39          0.573529       285
17                40          0.588235       230
18                41          0.602941        29
19                42          0.617647        23
20                43          0.632353        28
21                44          0.647059        78
22                45          0.661765        50
23                46          0.676471         5
24                47          0.691176         3
25                48          0.705882         3

In [13]:
def missing_col_values(df):
    cols_df = pd.DataFrame({'count' : df.isna().sum(), 'percent' : df.isna().mean()})
    return cols_df

In [14]:
df_cols = missing_col_values(df)
df_cols

                              count   percent
id                                0  0.000000
parcelid                          0  0.000000
airconditioningtypeid         52428  0.677531
architecturalstyletypeid      77175  0.997338
basementsqft                  77331  0.999354
bathroomcnt                       0  0.000000
bedroomcnt                        0  0.000000
buildingclasstypeid           77366  0.999806
buildingqualitytypeid         27709  0.358085
calculatedbathnbr               609  0.007870
decktypeid                    76767  0.992065
finishedfloor1squarefeet      71358  0.922164
calculatedfinishedsquarefeet    196  0.002533
finishedsquarefeet12           3632  0.046937
finishedsquarefeet13          77340  0.999470
finishedsquarefeet15          74372  0.961114
finishedsquarefeet50          71358  0.922164
finishedsquarefeet6           76995  0.995012
fips                              0  0.000000
fireplacecnt                  69105  0.893049
fullbathcnt                     609  0.007870
garagecarcnt                  51907  0.670798
garagetotalsqft               51907  0.670798
hashottuborspa                75843  0.980124
heatingorsystemtypeid         27941  0.361083
latitude                          0  0.000000
longitude                         0  0.000000
lotsizesquarefeet              8239  0.106473
poolcnt                       61244  0.791460
poolsizesum                   76514  0.988796
pooltypeid10                  76917  0.994004
pooltypeid2                   76307  0.986121
pooltypeid7                   62339  0.805611
propertycountylandusecode         0  0.000000
propertylandusetypeid             0  0.000000
propertyzoningdesc            27050  0.349569
rawcensustractandblock            0  0.000000
regionidcity                   1471  0.019010
regionidcounty                    0  0.000000
regionidneighborhood          46491  0.600806
regionidzip                      50  0.000646
roomcnt                           0  0.000000
storytypeid                   77331  0.999354
threequarterbathnbr           67285  0.869529
typeconstructiontypeid        77159  0.997131
unitcnt                       26818  0.346571
yardbuildingsqft17            74993  0.969140
yardbuildingsqft26            77311  0.999095
yearbuilt                       263  0.003399
numberofstories               59821  0.773071
fireplaceflag                 77209  0.997777
structuretaxvaluedollarcnt      112  0.001447
taxvaluedollarcnt                 1  0.000013
assessmentyear                    0  0.000000
landtaxvaluedollarcnt             2  0.000026
taxamount                         5  0.000065
taxdelinquencyflag            74495  0.962704
taxdelinquencyyear            74495  0.962704
censustractandblock             244  0.003153
logerror                          0  0.000000
transactiondate                   0  0.000000
airconditioningdesc           52428  0.677531
architecturalstyledesc        77175  0.997338
buildingclassdesc             77366  0.999806
heatingorsystemdesc           27941  0.361083
propertylandusedesc               0  0.000000
storydesc                     77331  0.999354
typeconstructiondesc          77159  0.997131

---

###Preapre